.image-card {
  padding-top: 80px;
}

.cards.square {
  position: relative;
  width: 100%;
  padding-top: 100%;
  transition: all 0.5s ease;
}

.card-img-tops {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards.square:hover {
  transform: scale(1.08);
  z-index: 1000;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 1rem;
  margin: 0 10px;
}
